<!DOCTYPE html>
<html>
<head>
    <title>Cost Of Living Explorer</title>
</head>
<body>
    <h1>US Family Budget Explorer</h1>

    <!-- Dropdown form -->
    <form method="get" action="/">
        <label for="county"> >Choose a county:</label>
        <select name="county" id="county">
            {% for c in counties %}
                <option value="{{ c }}" {% if c == selected_county %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
        </select>
        <button type="submit">Show</button>
    </form>

    <!-- Chart -->
    <div>{{ plot | safe }} </div>
</body>
</html>